<h1>Preferences</h1>


<label>email:</label>
<%= @user.email %>

<label>location:</label>
<input type='text' id='location' placeholder='Where am I?'/>
<button id='locateMeButton'>Locate me</button>


<script>
  $(function () {
    $('#locateMeButton').on('click', locateMe);
  });
  
  function locateMe() {
    navigator.geolocation.getCurrentPosition(function (pos) {
      $.ajax('/users', {
          data: {
            pos
          }
        }).then(function(result) {
          $('#location').value(result);
        });
    }, null, null);
  }
</script>