@import "foundation_and_overrides";
@import 'foundation-icons';
/* Add imports of custom sass/scss files here */

body {
  font-family: 'Lato', sans-serif;
  font-weight: 100;
}

.content {
  padding: 0px 0.5em;
}

.notification {
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 4000;
}