
@import "foundation_and_overrides";
@import 'foundation-icons';

/* Add imports of custom sass/scss files here */

li.is-dropdown-submenu-parent.opens-right > ul {
  z-index: 10;
}
body {
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  display: flex;
  flex-direction: column;
}

.content {
  padding: 0.5em 0.5em 2em 1.5em;
  flex: 2;
  display: flex;
  flex-direction: column;
}

.notification {
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 4000;
}

.large {
  font-size: 50px;
  line-height: 50px;
}

.medium {
  font-size: 35px;
  padding: 0 5px;
}

.small {
  font-size: 20px;
  padding: 0 5px;
}

.hidden {
  display: none;
}

#loader {
  padding: 0px;
  margin: 0px;
  width: 99px;
}

.loading > div
{
  @include mui-animation(spin(in, 360deg));
  animation-duration:         1.2s; 
  animation-iteration-count:  infinite;
  transition-timing-function: ease-in;
}

#profile-link {
  padding-top: 0px;
  padding-bottom: 0px; 
}

i.success {
  color: map-get($foundation-palette, success);
}

i.alert {
  color: map-get($foundation-palette, alert);
}

i.warning {
  color: map-get($foundation-palette, warning);
}

#add-product-link {
  font-size: x-large; 
  padding-left: 4px; 
  padding-bottom: 4px; 
  padding-top: 4px; 
  padding-right: 0px;
  margin-right: -5px;
}


.image-uploader {
  display: flex;
  flex-direction: column;
  
  #image-preview {
    width: 250px;
  }
  
  .button {
    width: 250px;
    max-width: 100%;
  }
}

.profile-parent-menu {
  position: relative;
  z-index: 30;
}

.empty-grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 2;
}