
@import "foundation_and_overrides";
@import 'foundation-icons';

/* Add imports of custom sass/scss files here */

body {
  font-family: 'Lato', sans-serif;
  font-weight: 100;
}

.content {
  padding: 0.5em 0.5em 2em 0.5em;
}

.notification {
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 4000;
}

.large {
  font-size: 50px;
  line-height: 50px;
}

.medium {
  font-size: 35px;
  padding: 0 5px;
}

.small {
  font-size: 20px;
  padding: 0 5px;
}

.hidden {
  display: none;
}

#loader {
  padding: 0px;
  margin: 0px;
  width: 99px;
}

.loading > div
{
  @include mui-animation(spin(in, 360deg));
  animation-duration:         1.2s; 
  animation-iteration-count:  infinite;
  transition-timing-function: ease-in;
}

#profile-link {
  padding-top: 0px;
  padding-bottom: 0px; 
}

i.success {
  color: map-get($foundation-palette, success);
}

i.alert {
  color: map-get($foundation-palette, alert);
}

i.warning {
  color: map-get($foundation-palette, warning);
}